name: devops-lab4

services:

  db-init:
    image: python:3.9-slim
    container_name: db-init
    volumes:
      - db-data:/data
    command: ["python", "/init_db.py"]
    deploy:
      restart_policy:
        condition: on-failure
    configs:
      - source: initdb
        target: /init_db.py

  app:
    build: .
    container_name: flask-app
    depends_on:
      - db-init
    ports:
      - "8181:8181"
    volumes:
      - db-data:/data

volumes:
  db-data:

configs:
  initdb:
    file: ./app/init_db.py
