name: devops-lab4

services:
  web:
    build: ./app
    container_name: lab4-web
    ports:
      - "8181:8181"
    volumes:
      - db-data:/data
    depends_on:
      - adminer
    pull_policy: always

  adminer:
    image: adminer
    container_name: lab4-adminer
    ports:
      - "8080:8080"
    pull_policy: always

volumes:
  db-data:
