version: "3.9"

services:
  db-init:
    build:
      context: .
      dockerfile: Dockerfile.db
    volumes:
      - data_volume:/data
    command: ["python", "/init_db.py"]

  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - data_volume:/data
    ports:
      - "8181:8181"
    depends_on:
      - db-init

volumes:
  data_volume:
