version: "3.9"

services:
  db-init:
    image: ghcr.io/tsda04/devops-lab4:latest
    volumes:
      - data_volume:/data
    command: ["python", "init_db.py"]

  flask-app:
    image: ghcr.io/tsda04/devops-lab4:latest
    volumes:
      - data_volume:/data
    ports:
      - "8181:8181"
    depends_on:
      - db-init

volumes:
  data_volume:
