version: '3.8'

services:
  web:
    build: .
    restart: always
    ports:
      - "8181:8181"
    depends_on:
      - db
    environment:
      - FLASK_ENV=production
    volumes:
      - app_data:/data
    networks:
      - app-network

  db:
    image: nouchka/sqlite3:latest
    restart: always
    volumes:
      - app_data:/data
    networks:
      - app-network

volumes:
  app_data:

networks:
  app-network:
    driver: bridge
