name: CD Pipeline with Docker Compose

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: course.prafdin.ru
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2467
        script: |
          echo "Updating repo..."
          cd /home/${{ secrets.SSH_USER }}/devops-lab4
          git fetch origin
          git checkout main
          git reset --hard origin/main

          echo "Logging into GHCR..."
          echo "${{ secrets.GITHUBTOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          echo "Pulling new images..."
          docker compose pull

          echo "Restarting stack..."
          docker compose down
          docker compose up -d

          echo "Deployment finished!"
