name: CD Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: main

    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: course.prafdin.ru
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2467
        script: |
          cd /home/${{ secrets.SSH_USER }}/devops-lab4
          
          echo "Updating repo..."
          git fetch origin
          git checkout main
          git reset --hard origin/main

          echo "Login to GHCR"
          echo "${{ secrets.GITHUBTOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          echo "Pulling latest image..."
          docker pull ghcr.io/${{ github.repository }}:latest

          echo "${{ secrets.SUDO_PASSWORD }}" | sudo -S docker compose down
          echo "${{ secrets.SUDO_PASSWORD }}" | sudo -S docker compose up -d --force-recreate

          echo "Deployment finished."
