name: CD Pipeline with Docker Compose

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: course.prafdin.ru
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2467

        script: |
          set -e

          REPO_PATH="/home/${{ secrets.SSH_USER }}/devops-lab4"
          REPO_URL="git@github.com:${{ github.repository }}.git"

          echo "---- CHECK REPOSITORY ----"
          if [ ! -d "$REPO_PATH/.git" ]; then
            echo "Repository not found. Cloning..."
            git clone "$REPO_URL" "$REPO_PATH"
          fi

          echo "---- UPDATE REPOSITORY ----"
          cd "$REPO_PATH"
          git fetch origin
          git checkout main
          git reset --hard origin/main

          echo "---- LOGIN TO GHCR ----"
          echo "${{ secrets.GITHUBTOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          echo "---- PULL IMAGES ----"
          docker-compose pull || true

          echo "---- RESTART DOCKER COMPOSE ----"
          docker-compose down
          docker-compose up -d

          echo "---- SHOW RUNNING SERVICES ----"
          docker compose ps

          echo "---- DEPLOY COMPLETE ----"
